{% extends "main.html" %}


{% block content%}


<div class="row text-center">
	<h2>{{category.name}}</h2>
	<h4>
		<a href="{{url_for('newItem', category_id=category.id)}}">Add new item  |</a><a href="{{url_for('editCategory', category_id=category.id)}}">|  Edit Category</a>
	</h4>
</div>
<div class ="row">
		<div class = 'flash text-center h4'>
		      {% with messages = get_flashed_messages() %}
      			{% if messages %}
          
        		<ul>
		        {% for message in messages %}
		            <li> <strong> {{ message }} </strong> </li>
		        {% endfor %}
		        </ul>
		        {% endif %}
		    {% endwith %}

		</div>
</div>

<div class="row">
	<div class="col-sm-3 col-md-2 nav sidebar">
		{% for popular in items_popular %}
			<a href="{{url_for('showItem', category_id=category.id, item_id = popular.id )}}">
				<h3>{{popular.name}}</h3>
			</a>
		{% endfor %}
	</div>
	<div class="col-sm-9 col-sm col-md-10 col-md main">
		{% for item in category_items %}
		<a href="{{url_for('showItem', category_id=category.id, item_id=item.id)}}">
			<img src="{{item.picture_1}}"  class="img-rounded, img-responsive" height="300" width="300">
		</a>
		{% endfor %}
	</div>
</div>

{% endblock %}