{% extends "main.html" %}
{% block content%}

<h2>{{category.name}}</h2>

<div class ="row">
		<div class = 'flash text-center h4'>
		      {% with messages = get_flashed_messages() %}
      			{% if messages %}
          
        		<ul>
		        {% for message in messages %}
		            <li> <strong> {{ message }} </strong> </li>
		        {% endfor %}
		        </ul>
		        {% endif %}
		    {% endwith %}

		</div>
	</div>

<h3>{{item.name}}</h3>
<br>
<p>{{item.description}}</p>

<a href="{{item.picture_1}}"><img src="{{item.picture_1}}" class="img-responsive,  center-block" height="400" width="400"></a>
<br><br>
<a href="{{item.picture_2}}"><img src="{{item.picture_2}}" class="img-responsive,  center-block" height="400" width="400"></a>
<br><br>
<a href="{{item.picture_3}}"><img src="{{item.picture_3}}" class="img-responsive,  center-block" height="400" width="400"></a>
<br><br>
<a href="{{item.picture_4}}"><img src="{{item.picture_4}}" class="img-responsive, center-block" height="400" width="400"></a>
<br><br>

{% for comment in comments %}

<p>{{comment.comment}}</p>

{% endfor %}




{% endblock %}